.xoopscode {
	border-style : dashed;
	border-width : 1px;
	padding : 0px 5px 0px 5px;
}
.xoopsquote {
	border-style : dashed;
	border-width : 1px;
	padding : 0px 5px 0px 5px;
}
.errhandler {
	border-style : dashed;
	border-width : 1px;
	padding : 0px 5px 0px 5px;
	background-color: #F8F8FF;
	color: Gray;
}
body {
	direction : ltr; /* Change to rtl for Right-To-Left languages */
	unicode-bidi : embed;
}
