body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fefefe;
}

.ai-search-box {
    margin-left: 5px;
}

.ai-search-button {
    margin-right: 5px;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-ai {
    border-radius: 0;
    background: transparent;
    border-bottom: 3px solid #333;
    height: 55px;
}
.navbar-toggle .icon-bar{
    background-color:red;
}

.navbar-ai a {
    color: black;
    text-decoration: none;
    background: transparent;
}

.navbar-nav>li {
    list-style-type: none;
    position: relative;
    padding: 0;
    font-size: 1em;
}
.navbar-toggle {
	background-color: #000;
	background-image: none;
}

.navbar-ai .navbar-brand {
    padding-left: 20px;
    background: url(../img/Rstar-32-transparent.png) no-repeat -1px 9px;
    padding-top: 23px;
}

#searchForm {
    width: 220px;
}

#main {
    margin: 0;
    width: 70%;
    margin: 0 auto;
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

/* Fix form alignment */
input.typeahead {
  margin-top: 5px;
}

/*footer*/
small.footer {
    text-align: right;
    width: 100%;
    display: inline-block;
}

/* need to understand where the links are*/
a:link{
    text-decoration: underline;
}

 .navbar-nav.navbar-right:last-child {
    margin-top: -50px !important;
}

/*******************************************************************************************************
****************************++media query********************************************************/
@media  screen and (max-width: 1036px){
    body article.container{
        width:100% !important;
}
}


/*noi li vogliamo come erano in navbar, senza stile per stare nel panino collapse*/
@media screen and (max-width: 767px){
.navbar-nav .open .dropdown-menu {
   position: absolute!important;
   /* top: 100%!important;
    left: 0!important;
    float: left!important;*/
    min-width: 160px!important;
    background-color:#fff;
    border:solid 1px #666;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    }
    .navbar-right .dropdown-menu {
    /*left: auto!important;*/
    right: 0!important;
        top: 60px;
}
    body li a.dropdown-toggle {
    display: inline-block;
    position: relative;
    float: none;
        padding: 15px;
}
    .navbar-nav.navbar-right:last-child {
    display: inline-flex;
    width: auto;
    float: right;
    position: absolute;
    top: 0px;
    right: 65px;
        margin-top: 0px !important;
}
    /*login*/
    ul.nav li a.login {
    display: inline-block;
    float: none;
        padding: 15px;
}
   
    .navbar-collapse {
    overflow-y: auto;
    background-color: #fff;
    border: solid 1px #666;
    text-align: center;
    padding-left: 5em;
          font-size:1em;
}
    .navbar-collapse ul li a {
    font-size: 1.3em;
}
    .navbar-nav > li{
  
text-align: center;
    }

}