document.write("<style type='text/css'><!-- ");
document.write("a.tk636829153:link { color:#3333EE; text-decoration:none; font-family:sans-serif; } ");
document.write("a.tk636829153:hover { color:#7777FF; text-decoration:none; font-family:sans-serif; } ");
document.write("a.tk636829153:visited { color:#2222AA; text-decoration:none; font-family:sans-serif; } ");
document.write("--></style>");
document.write("<table border='' width='100%' bgcolor='#CCFFFF'><tr><td>");
document.write("<span style='line-height:4px;'>&nbsp;<br></span>");document.write("<font size=2><a class='tk636829153' href='http://www.zeusnews.it/news.php?cod=3298'");document.write(" title='Una carrellata sui plugin pi&#249; interessanti di Mozilla Firefox, il browser open source altern...'");document.write(">Le estensioni di Firefox</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk636829153' href='http://www.zeusnews.it/news.php?cod=3158'");document.write(" title='Un utile programma freeware in grado di &quot;clonare&quot; un&#39;applicazione su pi&#249; sistemi operati...'");document.write(">InstallRite</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk636829153' href='http://www.zeusnews.it/news.php?cod=3137'");document.write(" title='L&#39;anonimato &#232; un diritto fondamentale del cittadino. Ma alcuni gestori di telefonia mobi...'");document.write(">Sms anonimi? S&#236;, ma non per tutti</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk636829153' href='http://www.zeusnews.it/news.php?cod=3076'");document.write(" title='L&#39;impatto sulla normale navigazione e vantaggi in termini di sicurezza. Quali prodotti scegli...'");document.write(">Installare un firewall</a></font><br><span style='line-height:4px;'>&nbsp;<br></span>");
document.write("<font size=2><a class='tk636829153' href='http://www.zeusnews.it/news.php?cod=3060'");document.write(" title='Veniamo attaccati semplicemente perch&#233; siamo online. Fingere di non esserci pu&#242; essere ...'");document.write(">Proteggersi dai virus invisibili</a></font><br>");
document.write("</td></tr></table>");
