body         { font-family: Verdana; font-size: 10px; background-color:#F5F5F5; color:#000000 }
table        { font-family: Verdana; font-size: 10px }
.welcome     { color: #FFFFFF; font-weight: bold }
.sitename    { color: #FFFFFF; font-size: 24px; font-weight: bold }
.siteslogan  { color: #FFFFFF; font-size: 14px; font-weight: bold }
.left-title  { color: #FFFFFF; font-size: 12px; font-weight: bold }
.right-title { color: #000000; font-size: 12px; font-weight: bold }
.center-title { color: #000000; font-size: 12px; font-weight: bold }
input        { font-size: 10px }
a:link       { color: #FF9900; text-decoration:none }
a:active     { color: #FF9900; text-decoration:none }
a:visited    { color: #FF9900; text-decoration:none }
a:hover      { color: #FF9900; text-decoration:overline underline }
.pn-logo, .pn-title, .pn-pagetitle	{ font-weight: bold; font-size: 14px; color: #FFFFFF }
.welcome a:link   { color: #FF9900 }
.welcome a:active { color: #FF9900 }
.welcome a:visited{ color: #FF9900 }
.welcome a:hover  { color: #FF9900 }